{% extends 'base.html.twig' %}

{% block title %}Hello HelloWorldController!{% endblock %}

{% block body %}
    {% for language in languages %}
        <li><a href="{{ path('show', {'language' : language}) }}">{{ language }}</a></li>
    {% endfor %}
{% endblock %}
