{% extends 'base.html.twig' %}

{% block title %}Hello HelloWorldController!{% endblock %}

{% block body %}
    <h1><a href="{{ path('hello_world') }}">Back</a></h1>
    <p>{{ language }}</p>
{% endblock %}
